<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruben</title>
    <link rel="stylesheet" href="static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main_div">
        <div class="bg_card">
            <hr class="line" id="left">
            <hr class="line" id="right">
            <img src="static\images\400x400_logo.png" class="logo">
            <h1 class='my_name'>Ruben Silva</h1>
            <p class='course'>Computer Science</p>
            <p class="uni">University of Minho</p>
            <a href="https://github.com/rubensilva091">
                <img src="static\images\github_logo_file.png" class="anchor_img" id="github">
            </a>
            <a href="https://twitter.com/Ruben06S_">
                <img src="static\images\twitter_logo_file.png" class="anchor_img" id="twitter">
            </a>
        </div>
        <img src="static\images\wallpaper_bg.jpg" class="bg_image">
    </div>
</body>
</html>