body
{
    text-align: center;
    margin: 0;
}

.top-container
{
    padding-top: 50px;
    background-color: #CEE5D0;
    margin:0px;
}

.cloud1
{
    position: absolute;
    right: 30%;
    top: 10px;

}

.cloud2
{
    position: absolute;
    left: 30%;
}

.paragraph1
{
    font-size: 40px;
    color: #5E454B;;
    font-family: 'Sacramento', cursive;
margin: 0;

}

.title
{
    color: #5E454B;;
    font-size: 60px;
    font-family: 'Sacramento', cursive;
    margin: 0;
}